@media (max-width:1600px){
    .container {
        max-width: 90%;
    }
    nav#nav ul.wrap-menu li.item-menu>a {
        font-size: 13px;
        padding: 22px 9px;
    }
    header#header .logo img{
        width: 130px;
    }
    section.core-land .container {
        padding-left: calc((100% - 90%)/2);
    }
    .wrap-core-land .wrap-video .carousel-item iframe{height: 470px;}
    .core-land .carousel-indicators li {max-height: 157px;}
    section#project.project-main-index .owl-carousel .item-project .box-image {
        height: 350px;
        overflow: hidden;
    }
    .project-main .owl-carousel .item img{
        max-height: 350px;
        height: 350px;
    }
    .title-main h2 {
        font-size: 28px;
    }
    .banner-index .item img{
        max-height: 700px;
    }
    .view-count{justify-content: space-between;}
    .view-count div:first-child {
        margin-right: 15px;
    }
    .wrap-blog-list-main .item-project .box-image {
        height: 210px;
    }
    .sticky-nav-tab{padding: 0 15px; font-size: 14px;}
    .item-blog .image-blog {
        min-width: 135px;
        height: 85px;
    }
    .wrap-main-right .wrap-blog-right .item-blog .image-blog img {max-width: 135px;}
    .wrap-main-right .item-right .wrap-blog-right .content-blog-list h5 {font-size: 14px;    -webkit-line-clamp: 4;}
    .wrap-content-project-detail-right .title-project {
        font-size: 20px;
    }
}
@media (max-width:1440px){
}
@media (max-width:1366px){
    nav#nav ul.wrap-menu li.item-menu>a {
        font-size: 12px;
        padding: 22px 6px;
    }
    body {
        font-size: 14px
    }
    .view-count {
        justify-content: space-between;
    }
    .item-blog .image-blog {
        min-width: 135px;
        height: 85px;
        margin-right: 15px;
    }
    section#project.project-main-index .owl-carousel .item-project .box-image {
        height: 300px;
    }
    .project-main .owl-carousel .item img {
        max-height: 300px;
        height: 300px;
    }
    .item-project .box-image, .item-project .box-image img{
        height: 220px;
    }
    .wrap-blog-list-main .item-project .box-image {
        height: 185px;
    }
    .sticky-nav-tab {
        padding: 0 12px;
        font-size: 12px;
    }
    .item-blog .image-blog {
        min-width: 125px;
        height: 80px;
    }
    .wrap-main-right .wrap-blog-right .item-blog .image-blog img {
        max-width: 125px;
    }
    .wrap-main-right .item-right .wrap-blog-right .content-blog-list h5 {font-size: 13px; white-space: break-spaces;}
}
@media (max-width:1280px){
    .wrap-core-land .wrap-video .carousel-item iframe {
        height: 400px;
    }
    .core-land .carousel-indicators li {
        max-height: 133px;
    }
    .wrap-core-land .content-title-core-land .title-core-land {
        font-size: 18px;
    }
    .title-main h2 {
        font-size: 26px;
    }
    h4 {
        font-size: 16px;
    }
    .footer-first h3 {
        font-size: 18px;
    }
    section#project.project-main-index .owl-carousel .item-project .box-image {
        height: 280px;
    }
    .project-main .owl-carousel .item img {
        max-height: 280px;
        height: 280px;
    }
    nav#nav ul.wrap-menu li.item-menu>a {
        font-size: 11px;
    }
    header#header .logo img {
        width: 120px;
    }
    .wrap-main-right .pd-20{padding: 15px 10px;}
    .item-blog .image-blog {
        min-width: 110px;
        height: 70px;
        margin-right: 10px;
    }
    .wrap-main-right .wrap-blog-right .item-blog .image-blog img {
        max-width: 110px;
    }
    .sticky-nav-tabs {
        height: 50px;
    }
    .sticky-nav-tabs-container .container .wrap-nav-tab {
        height: 50px;
    }
}
@media (max-width:1200px){
    body{font-size: 14px;}
    section#top-bar .content-sidebar > p {font-size: 16px;}
    .wrap-title h2 {font-size: 26px;}
    .wrap-title p {font-size: 16px;}
    nav#nav ul.wrap-menu li.item-menu>a {
        font-size: 11px;
    }
    header#header .logo img {
        width: 110px;
    }
    section#project.project-main-index .owl-carousel .item-project .box-image {
        height: 240px;
    }
    .project-main .owl-carousel .item img {
        max-height: 240px;
        height: 240px;
    }
    .item-project .box-image, .item-project .box-image img{
        height: 200px;
    }
    h4 {
        font-size: 15px;
    }
    .wrap-info-list *{font-size: 14px;}
    .wrap-main-right .title-main h3 {
        font-size: 16px;
    }
    .wrap-main-right .wrapfile-project h4 {
        font-size: 18px;
    }
}
@media (max-width:1080px){
    .item-project .box-image, .item-project .box-image img {
        height: 180px;
    }
    .title-main h2 {
        font-size: 24px;
    }
    .sticky-nav-tab {
        padding: 0 7px;
        font-size: 11px;
    }
    .container {
        max-width: 95%;
    }
    .footer-first h3 {
        font-size: 16px;
    }
}
@media (max-width:1024px){
    .wrap-title h2 {font-size: 24px;}
    .wrap-title p {font-size: 14px;}

    /* menu */
    nav#nav.menu-header{position: fixed;left: 0; top: 0; width: 100%; height: 100vh; z-index: 30;background-color: var(--background-main); display: flex; align-items: center; justify-content: center;     transform: translateX(-100%); transition: all .4s;}
    header#header.active nav#nav.menu-header{transform: translateX(0);}
    nav#nav ul.wrap-menu {flex-direction: column;height: 100%; overflow: scroll; width: 100%; padding-top: 20px; padding-bottom: 20px;}
    nav#nav ul.wrap-menu li.item-menu > a {color: #FFFFFF;}
    nav#nav ul.wrap-menu select {width: 70px;height: 35px;margin-top: 23px; text-align: center;}
    header#header div.icon-bar{position: absolute;top: 3px;right: 15px; width: 40px;height: 40px;padding: 0; display: flex;justify-content: center;align-items: center; cursor: pointer; transition: all .4s;}
    header#header div.icon-bar span{ position: relative;width: 25px;height: 1.5px;background: var(--background-main);z-index: 1;display: block; transition: all .4s; z-index: 31;}
    header#header div.icon-bar span:before, header#header div.icon-bar span:after{content: ''; position: absolute; width: 100%; background: var(--background-main); left: 0; height: 100%;}
    header#header div.icon-bar span:before{top: -6px;}
    header#header div.icon-bar span:after{top: 6px; width: 50%;}
    /* header#header.active{position: fixed;} */
    header#header.active div.icon-bar span{background: #FFFFFF;}
    header#header.active div.icon-bar span::before, header#header.active div.icon-bar span::after{opacity: 0; visibility: hidden;}
    /* header#header.active nav#nav.menu-header{transform: translateX(0);} */
    header#header.active div.icon-bar:hover span::before, header#header.active div.icon-bar:hover span::after{opacity: 1; visibility: visible;}

    .wrap-right {
        padding: 10px 0;
        margin-right: 45px;
    }
    .wrap-right .search-wrap, .wrap-right .wrap-translate {
        width: 36px;
        height: 36px;
        min-width: 36px;
    }
    header#header .logo {
        position: fixed;
        top: 0;
        left: 10px;
    }
    header#header>.container {
        justify-content: flex-end;
    }


}
@media (max-width:991px){
    .footer-first h3 {
        font-size: 15px;
    }
}
@media (max-width:768px){
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .row [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }

}
@media (max-width:767px){


}
@media (max-width:540px){

    footer#footer p {font-size: 11px;line-height: 1.45;padding: 15px;}
}
@media (max-width:414px){

}
@media (max-width:375px){

}



















